/*-------  ここから共通CSS  --------*/
*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  color: #666;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #323A45;
  transition: all .3s;
}

a:hover {
  color: #5983ff;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4 {
  color: #444;
  font-size: 24px;
}

h5 {
  color: #444;
  font-size: 21px;
}

h3:before, h3:after{
  content: "";
  background-color: #616161;
  display: inline-block;
  width: 7%;
  height: 1px;
  margin: 0 6rem;
  vertical-align: middle;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  color: #555;
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
}

.section-title h3 {
  margin: 10px 0;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}

.gray-section {
  background: #f4f4f4;
  color: #888;
}

.fadeIn {
  transform: translate3d(0, -10px, 0);
  transition: 1s;
  opacity: 0;
}

.fadeIn.animated {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/*-------  ここまで共通のCSS  --------*/

/*-------  ここからheader  --------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  line-height: 50px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  z-index: 10;
}

.header-title {
  float: left;
}

.header-logo {
  color: #777;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
}

.header-logo:hover {
  color: #5983ff;
}

.header-menu-right {
  float: right;
}

.header-menu-right li {
  float: left;
}

.header-menu-right a {
  color: #777;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
}

.header-menu-right a:hover {
  color: #5983ff;
  transition: color .3s;
}

.clear{
  clear: left;
}
/*-------  ここまでheader  --------*/

/*-------  ここからtop content  --------*/
.top-section {
  margin: 0 auto;
  text-align: center;
  background-image: url("pic_b006.jpg");
}

.top-inner {
  padding: 0;
  padding-top: 180px;
  padding-bottom: 120px;
  background-color: rgba(0, 0, 0, 0.3);
}

.top-description {
  margin-top: 30px;
  margin-bottom: 20px;
}

.top-section h2 {
  font-family: 'Dosis', sans-serif;
  color: #d0d0d0;
  font-size: 48px;
  line-height: 54px;
  margin: 10px 0 30px 0;
  font-weight: 400;
}

.top-description p {
  color: #bababa;
  font-size: 18px;
  line-height: 30px;
}

.top-section .top-button {
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s;
}

/*-------  ここまでtop content  --------*/

/*-------  ここからAbout  --------*/
.about-section {
  text-align: center;
  padding-bottom: 50px;
}

#about h4 {
  padding-bottom: 20px;
}

.about-title {
  padding-top: 20px;
}

/*-------  ここまでAbout  --------*/

/*-------  ここからLinks  --------*/

.links-section-top {
  text-align: center;
  padding-bottom: 50px;
}

.links-section-bottom {
  padding: 100px 0px;
}

.links-box {
  display: block;
  vertical-align: top;
  padding-bottom: 30px;
}

.links-box h4 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.links-box h5 {
  text-align: center;
  padding-bottom: 10px;
}

.links-box p, h6{
  text-align: left;
  padding: 0% 20%;
}


/*-------  ここまでLinks  --------*/

/*-------  ここからProfile  --------*/
.profile-section {
  color: #6a6a6a;
}

.profile-section-inner {
  padding-bottom: 30px;
}

.profile-section h3, .profile-section h4 {
  color: #404040;
}

.profile-section h4 {
  font-size: 22px;
  padding-bottom: 10px;
}

.about {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;
}

.about i {
  padding-right: 15px;
  font-size: 18px;
}

.about p {
  margin: 0 0 24px;
  line-height: 30px;
  color: #888;
}

/*-------  ここまでProfile  --------*/

/*-------  ここからfooter  --------*/
footer {
  text-align: center;
  padding: 40px 0;
  color: #999;
  background-color: #222;
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
}
/*-------  ここまでfooter  --------*/


/* タブレット向けレイアウト */
@media (max-width: 1000px) {
  .section-title h3 {
    font-size: 28px!important;
  }

  .header-logo{
    font-size: 20px!important;
  }

  .header-menu-right{
    font-size: 16px!important;
  }

  .links-box p, h6{
    padding: 0% 2%!important;
  }

  h3:before, h3:after{
    width: 12%!important;
    margin: 0 7%!important;
  }

}

/* スマホ向けレイアウト */
@media (max-width:670px) {
  .section-title h3 {
    font-size: 28px!important;
  }

  .header-logo{
    font-size: 16px!important;
  }

  .header-menu-right{
    font-size: 14px!important;
  }

  .links-box p, h6{
    padding: 0% 2%!important;
  }

  h3:before, h3:after{
    width: 12%!important;
    margin: 0 7%!important;
  }

  .top-section h2 {
    font-size: 30px!important;
  }

  h4 {
    font-size: 21px!important;
  }

  h5 {
    font-size: 18px!important;
  }

  body {
    font-size: 16px!important;
  }

}
